---
import { type Session } from '@lib/auth'
import { type Locale } from '@utils/locale'
import { getRelativeLocaleUrl } from 'astro:i18n'
import MenuMobile from '@layouts/MenuMobile.astro'
import MenuDesktop from '@layouts/MenuDesktop.astro'
import { getUrlListCustom } from '@utils/locale'

interface Props {
  session: Session | null
  locale: Locale
}
const { session, locale } = Astro.props

// For language picker, we need to get the URL list for each locale based on the current path
const localeUrlList = getUrlListCustom(Astro.url.pathname)

// Menu items with localized labels and URLs
const items = {
  home: {
    en: 'Home',
    th: 'หน้าแรก',
    url: getRelativeLocaleUrl(locale, '/'),
  },
  about: {
    en: 'About',
    th: 'เกี่ยวกับ',
    url: getRelativeLocaleUrl(locale, '/about'),
  },
  topics: {
    en: 'Topics',
    th: 'หัวข้อ',
    url: getRelativeLocaleUrl(locale, '/conference-topics'),
  },
  dates: {
    en: 'Dates',
    th: 'วันที่สำคัญ',
    url: getRelativeLocaleUrl(locale, '/important-dates'),
  },
  submission: {
    en: 'Submission',
    th: 'การส่งผลงาน',
    url: getRelativeLocaleUrl(locale, '/submission'),
  },
  contact: {
    en: 'Contact',
    th: 'ติดต่อ',
    url: getRelativeLocaleUrl(locale, '/contact'),
  },
} as const

// console.log('Menu items:', items)
---

<nav class="sticky top-0 z-50 bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-18">
      <div class="flex items-center rounded-lg px-2 py-1 bg-[#F3E5F5]">
        <!-- Logo / Site Title -->
        <img
          src="/eng_logo.png"
          alt="IE Network 2027 Logo"
          class="h-10 w-auto mr-2"
        />

        <h1 class="text-2xl font-bold text-[#9E76B4]">
          <a href={items.home.url}>IE Network 2027</a>
        </h1>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden lg:flex items-center space-x-8">
        <MenuDesktop
          items={items}
          locale={locale}
          LocaleUrlList={localeUrlList}
        />
      </div>

      <!-- Mobile Navigation -->
      <div class="lg:hidden">
        <MenuMobile
          items={items}
          locale={locale}
          LocaleUrlList={localeUrlList}
        />
      </div>
    </div>
  </div>
</nav>
